/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #E4E9F7;
    z-index: 100;
    transition: all0.5s ease;
}

.sidebar.close{
    width: 80px;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .image-text img{
    width: 150px;
    border-radius: 6px;

}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    padding: 10px 60px;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i{
    font-size: 30px;
    color: #000fff;
    height: 50px;
    min-width: 80px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links{
    height: 100%;
    padding: 15px 0 150px;
    overflow: auto;
}

.sidebar.close .nav-links{
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover{
    background-color: #000fff;
}

.sidebar .nav-links li .icon-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .icon-links{
    display: block;
}

.sidebar .nav-links li i{
    height: 60px;
    min-width: 80px;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(180deg);
}

.sidebar.close .nav-links i.arrow{
    display: none;
}

.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name{
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #000fff;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}

.sidebar .nav-links li .sub-menu a{
    color: #ffffff;
    font-size: 14px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}


.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name{
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3A3B3C;
    padding: 6px 0;
    transition: all 0.4s ease;
}

.sidebar.close .profile-details{
    background: none;
}

.sidebar.close .profile-details{
    width: 80px;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}

.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background-color: #3A3B3C;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img{
    padding: 10px; 
}

.sidebar .profile-details .profile-name,
.sidebar .profile-details .job{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile-name,
.sidebar.close .profile-details .job{
    display: none;
}

.sidebar .profile-details .job{
    font-size: 12px;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: #ffffff;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 80px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--sidebar-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--primary-color);
    transition: var(--tran-03);
}

.home{
    position: relative;
    background-color: #FFFFFF;
    height: 100vh;
    left: 300px;
    width: calc(100% - 200px);
}

.sidebar.close ~ .home-section{
    left: 80px;
    width: calc(100% - 80px);
}

.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #000000;
    font-size: 35px;
}

.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}

.home{
    position: fixed;
    left: 230px;
    height: 70px;
    width: calc(100% - 200px);
    background: #FFFFFF;
    transition: var(--tran-05);
}

.sidebar.active ~ .home{
    width: calc(100% - 90px);
    left: 130px;
}

.home h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 10px 500px;
}

.home .home-content{
    position: relative;
    padding: 100px;
}

.home-content .overview-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 5px;
    width: 10%;
    justify-content: space-between;
    padding: 10px;
    grid-gap: 10px;
}

.home-content .overview-boxes .box{
    width: calc(100% / 5 - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 100px;
    background: #E4E9F7;
    border-radius: 20px;
}

.home-content .overview-boxes .box_topic{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    display: grid;
}

.overview-boxes .indicator{
    display: flex;
    align-items: center;
}

.overview-boxes .indicator i{
    height: 20px;
    width: 20px;
    background: #2697FF;
    color: #000000;
    border-radius: 50%;
    font-size: 5px;
    margin-right: 5px;
}

.overview-boxes .indicator .text{
    font-size: 5px;
}

.home-content .overview-boxes .number{
    font-size: 15px;
    font-weight: 500;
}

.sidebar.close ~ .home{
    left: 40px;
    width: calc(100% - 50px);
}

.overview-boxes .box .cart{
    font-size: 30px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #2697FF;
    color: #000000;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}

.overview-boxes .box .cart.two{
    background: #008000;
}

.overview-boxes .box .cart.three{
    background: #ff6900;
}

.overview-boxes .box .cart.four{
    background: #006400;
}

.overview-boxes .box .cart.five{
    background: #C70000;
}

.overview-boxes .box .cart.six{
    background: #3A3B3C;
}